li 
	input#tab1.paragraf-menu(name="tab" type="radio" checked)
	label(for="tab1")
		| #{tab_name}
	.tab-content#tab-content1(role="tabpanel" aria-labelledby="description" aria-hidden="false")
		.wrap_unit_download
			.wrap_file_list
				.file_unit(style=bg_img)
					.ul_buttons
						ul
							li.open
								a(href="files/norm-doc/fgos_09_02_07.pdf" type="application/pdf" target="_blank")
									| Открыть
							li.download
								a(href="files/norm-doc/fgos_09_02_07.pdf" type="application/pdf" target="_blank")
									| Скачать
li 
	input#tab2.paragraf-menu(name="tab" type="radio" checked)
	label(for="tab2")
		| Стандарт
	.tab-content#tab-content2(role="tabpanel" aria-labelledby="description" aria-hidden="false")
		.wrap_unit_download
			.wrap_file_list
				.file_unit
					.ul_buttons
						ul
							li.open
								a(href="files/norm-doc/fgos_09_02_07.pdf" type="application/pdf" target="_blank")
									| Открыть
							li.download
								a(href="files/norm-doc/fgos_09_02_07.pdf" type="application/pdf" target="_blank")
									| Скачать
li 
	input#tab3.paragraf-menu(name="tab" type="radio" checked)
	label(for="tab3")
		| Рабочая программа
	.tab-content#tab-content3(role="tabpanel" aria-labelledby="description" aria-hidden="false")
		.wrap_unit_download
			.wrap_file_list
				.file_unit
					.ul_buttons
						ul
							li.open
								a(href="files/norm-doc/fgos_09_02_07.pdf" type="application/pdf" target="_blank")
									| Открыть
							li.download
								a(href="files/norm-doc/fgos_09_02_07.pdf" type="application/pdf" target="_blank")
									| Скачать
