.wrap_unit_login
	.unit_login
		.user-avatar
			a(href="index.html")
				img(src="./img/umk_logo.png", width="80", height="80", alt="На главную")
		//- .wrap-btns
			.login-btn
				a(href="#")
					| Вход
			.registr-btn
				a(href="#")
					| Регистрация
.wrap_menu-btn
	a(href="#", class="menu-btn")
		span
		.menu-lable_hidden Меню