col_grey_up = #f1f0f5

.wrap_test_unit
	// border 1px solid blue
	// display flex
	// flex-direction column
	// justify-content center
	// background-color #cccccc
	// margin 20px 20px 20px 50px
.test_unit
	margin 30px auto
	width 80%
	// border 1px solid #26aaf0
	// border-radius 10px
	// border-top none
	// background #fff
	// padding 60px
	font-size 1.5em
	position relative
	// color #353535
	line-height 1.5em
	h1 
		font-size 1.5em
		margin 0 0 20px
		// color #26aaf0
	h2
		font-size 22px
		margin 15px 0
	h3
		font-size 1.5em
		margin 15px 0 10px 0px
	h4
		font-size 16px
		margin 10px 0
	h5
		font-size 14px
		margin 10px 0 5px
	h6
		font-size 12px
		margin 5px 0
	strong
		font-weight bold
	em
		// font-style italic
	
	
		
	
.ru_control-test
	& > p 
		// border 1px solid red
		// text-align center
		// padding 60px 20px
		// font-size 1.8em
		// background-color #f1f0f5
		height 60px
		background-color col_grey_up
		text-align center
		padding 50px 0 30px 0
		font-size 2.1em
		color link-hover
		

	

.startQuiz
	// border 1px solid red
	// height 500px
	// width 500px
	// margin-left 60px
	// position absolute
	// width 100%
	// top 100%
	// left 10%
	

.question
	h3 
		text-align left
		font-size 1.3em
		// border 1px solid green
		padding 10px
	
.answers
	color #26aaf0
	// border 1px solid red
	margin-bottom 20px
	// list-style none
	li label
		display block
		// text-align left
		margin 5px 5px 5px 30px
		
		// padding 5px 10px 5px 40px
		&:hover
			// border-bottom 1px solid #26aaf0
			color red
		&::before
			content ''
			// content "\f111"
			// font-family "FontAwesomeReg"
			// position relative
			
			// width 26px
			// height 26px
			// border-radius 13px
			// background-color green
			
			

.answers [id^="slickQuiz_question"]
	position absolute
	z-index -1
	opacity 0
	margin 10px 0 0 7px
	& + label
		position relative
		padding 0 0 0 45px
		cursor pointer
		&:before 
			content ''
			position absolute
			top 3px
			left 0px
			width 22px
			height 22px
			border 1px solid #f1f0f5
			border-radius 50%
			background #fff
		&:after
			content ''
			position absolute
			top 7px
			left 4px
			width 16px
			height 16px
			border-radius 50%
			background #26aaf0
			opacity 0
			transition .2s
	
	&:checked + label
		&:after
			opacity 1
		&:hover
			color red
		// background-color #26aaf0
		


	
			
		

.quizArea, .quizResults
	zoom 1
	// border 1px solid red
	&:before, &:after 
		content "\0020"
		display block
		height 0
		visibility hidden
		font-size 0
	&:after 
		clear both
		
.quizResults
		// border 1px solid green
		padding 20px
	h3 
		margin 0
		span 
			font-weight normal
			font-style italic
			
.quizResultsCopy
	clear both
	margin-top 20px

.questionCount
	font-size 1.2em
	text-align center
	// font-style italic
	.current
		// color red
	span 
		font-weight bold

.quizArea
	// border 1px solid green
	// width 100%
	

.quizHeader
	position relative
	// border 1px solid red

.button
	float left
	margin 10px
	width auto
	padding 5px 15px
	color #ffffff
	background-color #26aaf0
	// border 1px solid #fff
	border-radius 5px
	text-decoration none
	&:hover 
		background-color darkslategray
		

.complete
	& > ul.answers
		& > li.correct,
	& > ul.responses
		& > li.correct
			p span
				color #6C9F2E