include includes/mixins
<!DOCTYPE html>
html(lang="ru")
	include includes/head
	body
		.wrapper
			.sidebar
				include includes/unit_login
				include includes/sidebar_menu
				+sidebar "checked"
			.right_unit.ru_control-test
				p Тест по дисциплине «Компьютерная графика»
				.wrap_test_unit
					.test_unit#slickQuiz
						h1.quizName
						.quizArea
							.quizHeader
								a.button.startQuiz(href="#") Начать тестирование
						.quizResults
							h3.quizScore Ваша оценка:
								span
							h3.quizLevel 
								strong Рейтинг: 
								span
							.quizResultsCopy

						
						
							
					 

						



		
		include includes/scripts_in_footer
		script.
			$(document).ready(function () {
			$('#sb_ml-3').prop('checked',true);

			$("a#sub_menu_3-1").attr("href", "#");
			$("#slickQuiz").slickQuiz();
		
			
			
			});


