<!DOCTYPE html>
html(lang="ru")
	include includes/head
	body
		.wrapper
			.sidebar
				include includes/unit_login
				include includes/sidebar_menu
				+sidebar
			include includes/right_unit-index 



		include includes/scripts_in_footer
			
						


	