include includes/mixins
<!DOCTYPE html>
html(lang="ru")
	include includes/head
	body
		.wrapper
			.sidebar
				include includes/unit_login
				include includes/sidebar_menu
				+sidebar "checked"
			div(class="right_unit", class="right_unit-normdoc")
				p Нормативные документы
				.wrap_tab
					ul.tabs(role="tablist")
						+tabs('tab1', 'ФГОС', 'tab-content1')
							+unit_download('../img/fgos_hover_300x150.png', 'Приказ', '"Об утверждении образовательного стандарта"', 'files/normdoc/fgos_09_02_07.pdf')
						+tabs('tab2', 'Стандарт', 'tab-content3')
							+unit_download('#','Профессиональный стандарт', '"Специалист по информационным системам"', '../files/normdoc/prof_standart_06.015.pdf')
						+tabs('tab3', 'Рабочая программа', 'tab-content3')
							+unit_download('#', 'Лабораторная работа №1','Интерфейс программы Компас 3D. Компактная панель', '../files/normdoc/comp_graphics_203.pdf')
							+unit_download('#', 'Лабораторная работа №2','Создание листа чертежа. Заполнение основной надписи', '../files/normdoc/comp_graphics_203.pdf')
							+unit_download('#', 'Лабораторная работа №3','Двухмерное черчение, работа с основными командами построения', '../files/normdoc/comp_graphics_203.pdf')
							+unit_download('#', 'Лабораторная работа №4','Использование глобальных и локальных привязок', '../files/normdoc/comp_graphics_203.pdf')
							+unit_download('#', 'Лабораторная работа №5','Построение многоугольника по вписанной окружности', '../files/normdoc/comp_graphics_203.pdf')
							+unit_download('#', 'Лабораторная работа №6','Построение геометрических объектов на чертежах', '../files/normdoc/comp_graphics_203.pdf')
							+unit_download('#', 'Лабораторная работа №7','Двухмерное черчение, работа с размерами', '../files/normdoc/comp_graphics_203.pdf')
							+unit_download('#', 'Лабораторная работа №8','Выполнение чертежа по заданным размерам. Простановка размеров', '../files/normdoc/comp_graphics_203.pdf')
							+unit_download('#', 'Лабораторная работа №9','Выполнение пространственной модели. Проведение измерений', '../files/normdoc/comp_graphics_203.pdf')
							+unit_download('#', 'Лабораторная работа №10','Построение пространственной модели по заданным размерам.', '../files/normdoc/comp_graphics_203.pdf')
							+unit_download('#', 'Лабораторная работа №11','Создание спецификаций', '../files/normdoc/comp_graphics_203.pdf')
							+unit_download('#', 'Лабораторная работа №12','Создание ассоциативного чертежа', '../files/normdoc/comp_graphics_203.pdf')
							+unit_download('#', 'Лабораторная работа №13','Чертеж детали типа Вал', '../files/normdoc/comp_graphics_203.pdf')
							+unit_download('#', 'Лабораторная работа №14','Чертеж детали типа Втулка', '../files/normdoc/comp_graphics_203.pdf')
							+unit_download('#', 'Лабораторная работа №15','Чертеж детали типа Зубчатое колесо', '../files/normdoc/comp_graphics_203.pdf')
					 

						



		include includes/scripts_in_footer
		script.
			$(document).ready(function () {
			$('#sb_ml-1').prop('checked',true);

			$("a#sub_menu_1-1").attr("href", "#");
			$("a#sub_menu_1-2").attr("href", "#");
			$("a#sub_menu_1-3").attr("href", "#");
			
			});


