include includes/mixins
<!DOCTYPE html>
html(lang="ru")
	include includes/head
	body
		.wrapper
			.sidebar
				include includes/unit_login
				include includes/sidebar_menu
				+sidebar "checked"
			.right_unit.right_unit-normdoc
				p Нормативные документы
				.wrap_tab
					ul.tabs(role="tablist")
						+tabs('tab1', 'ФГОС', 'tab-content1')
							+unit_download('#', 'Приказ', '"Об утверждении образовательного стандарта"', 'files/normdoc/fgos_09_02_07.html')
						+tabs('tab2', 'Стандарт', 'tab-content2')
							+unit_download('#','Профессиональный стандарт', '"Специалист по информационным системам"', '../files/normdoc/normsoc-1.html')
						+tabs('tab3', 'Рабочая программа', 'tab-content3')
							+unit_download('#', 'Учебная программа гр. 301','"Компьютерная графика"', '../files/normdoc/comp_graphics_301_2018.html')
							+unit_download('#', 'Учебная программа гр. 203','"Компьютерная графика"', '../files/normdoc/comp_graphics_203.html')
							
					 

						



		include includes/scripts_in_footer
		script.
			$(document).ready(function () {
			$('#sb_ml-1').prop('checked',true);

			$("a#sub_menu_1-1").attr("href", "#");
			$("a#sub_menu_1-2").attr("href", "#");
			$("a#sub_menu_1-3").attr("href", "#");
			
			});


