include includes/mixins
<!DOCTYPE html>
html(lang="ru")
	include includes/head
	body
		.wrapper
			.sidebar
				include includes/unit_login
				include includes/sidebar_menu
				+sidebar "checked"
			div(class="right_unit", class="right_unit-normdoc")
				p Практические работы
				.wrap_tab
					ul.tabs(role="tablist")
						+tabs('tab1', 'Лабораторные работы', 'tab-content1')
							+unit_download('#', 'Конспект', '"Знакомство с Компас 3D. Интерфейс программы"', 'files/teormat/kospect1.pdf')
							+unit_download('#', 'Конспект', '"Основы 3D моделирования"', 'files/teormat/kospect1.pdf')
						
						
							
					 

						



		include includes/scripts_in_footer
		script.
			$(document).ready(function () {
			$('#sb_ml-5').prop('checked',true);

			$("a#sub_menu_5-1").attr("href", "#");
			
			
			
			});


