include includes/mixins
<!DOCTYPE html>
html(lang="ru")
	include includes/head
	body
		.wrapper
			.sidebar
				include includes/unit_login
				include includes/sidebar_menu
				+sidebar "checked"
			div(class="right_unit", class="right_unit-normdoc")
				p Практические работы
				.wrap_tab
					ul.tabs(role="tablist")
						+tabs('tab1', 'Лабораторные работы', 'tab-content1')
							+unit_download('#', 'Лабораторная работа №1', '"Интерфейс программы Компас 3D. Компактная панель"', 'files/practica/labrab1.pdf')
							+unit_download('#', 'Лабораторная работа №2', '"Создание листа чертежа. Заполнение основной надписи"', 'files/practica/labrab2.pdf')
							+unit_download('#', 'Лабораторная работа №3', '"Двухмерное черчение, работа с основными командами построения"', 'files/practica/labrab3.pdf')
							+unit_download('#', 'Лабораторная работа №4', '"Использование глобальных и локальных привязок"', 'files/practica/labrab4.pdf')
							+unit_download('#', 'Лабораторная работа №5', '"Построение многоугольника по вписанной окружности"', 'files/practica/labrab5.pdf')
							+unit_download('#', 'Лабораторная работа №6', '"Построение геометрических объектов на чертежах"', 'files/practica/labrab6.pdf')
							+unit_download('#', 'Лабораторная работа №7', '"Двухмерное черчение, работа с размерами"', 'files/practica/labrab7.pdf')
							+unit_download('#', 'Лабораторная работа №8', '"Выполнение чертежа по заданным размерам. Простановка размеров"', 'files/practica/labrab8.pdf')
							+unit_download('#', 'Лабораторная работа №9', '"Выполнение пространственной модели. Проведение измерений"', 'files/practica/labrab9.pdf')
							+unit_download('#', 'Лабораторная работа №10', '"Построение пространственной модели по заданным размерам"', 'files/practica/labrab10.pdf')
							+unit_download('#', 'Лабораторная работа №11', '"Создание спецификаций"', 'files/practica/labrab11.pdf')
							+unit_download('#', 'Лабораторная работа №12', '"Создание ассоциативного чертежа"', 'files/practica/labrab12.pdf')
							+unit_download('#', 'Лабораторная работа №13', '"Чертеж детали типа Вал"', 'files/practica/labrab13.pdf')
							+unit_download('#', 'Лабораторная работа №14', '"Чертеж детали типа Втулка"', 'files/practica/labrab14.pdf')
							+unit_download('#', 'Лабораторная работа №15', '"Чертеж детали типа Зубчатое колесо"', 'files/practica/labrab15.pdf')
						
						
							
					 

						



		include includes/scripts_in_footer
		script.
			$(document).ready(function () {
			$('#sb_ml-5').prop('checked',true);

			$("a#sub_menu_5-1").attr("href", "#");
			
			
			
			});


