include includes/mixins
<!DOCTYPE html>
html(lang="ru")
	include includes/head
	body
		.wrapper
			.sidebar
				include includes/unit_login
				include includes/sidebar_menu
				+sidebar "checked"
			div(class="right_unit", class="right_unit-normdoc")
				p Теоретический материал
				.wrap_tab
					ul.tabs(role="tablist")
						+tabs('tab1', 'Самостоятельные работы', 'tab-content1')
							+unit_download('#', 'Самостоятельная работа', '"Знакомство с Компас 3D. Интерфейс программы"', 'files/samrab/samrab-zadanie/samrab-description.html')
							+unit_download('#', 'Самостоятельная работа', '"Условия задачи"', 'files/samrab/samrab-zadanie/samrab-uslovie.html')
							+unit_download('#', 'Самостоятельная работа', '"Шток"', 'files/samrab/samrab-zadanie/shtok.jpg')
							+unit_download('#', 'Самостоятельная работа', '"Палец"', 'files/samrab/samrab-zadanie/paletz.jpg')
							+unit_download('#', 'Самостоятельная работа', '"Вал шестерня"', 'files/samrab/samrab-zadanie/val-shest.cdw')
							+unit_download('#', 'Самостоятельная работа', '"Вал НЭ"', 'files/samrab/samrab-zadanie/val-ne.cdw')
							+unit_download('#', 'Самостоятельная работа', '"Вал ГГ"', '../files/samrab/samrab-zadanie/val-gg.cdw')
						+tabs('tab2', 'Тренировочные задания', 'tab-content2')
							+unit_download('#','Тренировочные задания', 'После скачивания - необходимо распаковать архив!', '../files/samrab/trener-zadanie/trener-zadanie.zip')
							
						
							
					 

						



		include includes/scripts_in_footer
		script.
			$(document).ready(function () {
			$('#sb_ml-4').prop('checked',true);

			$("a#sub_menu_4-1").attr("href", "#");
			$("a#sub_menu_4-2").attr("href", "#");
			
			
			});


