include includes/mixins
<!DOCTYPE html>
html(lang="ru")
	include includes/head
	body
		.wrapper
			.sidebar
				include includes/unit_login
				include includes/sidebar_menu
				+sidebar "checked"
			div(class="right_unit", class="right_unit-normdoc")
				p Теоретический материал
				.wrap_tab
					ul.tabs(role="tablist")
						+tabs('tab1', 'Конспекты', 'tab-content1')
							+unit_download('#', 'Конспект', '"Знакомство с Компас 3D. Интерфейс программы"', 'files/teormat/konspekt1.html')
							+unit_download('#', 'Конспект', '"Основы 3D моделирования"', 'files/teormat/konspekt2.html')
						+tabs('tab2', 'Презентации', 'tab-content2')
							+unit_download('#','Презентация', '"Компас. САПР."', 'files/teormat/kompass_SAPR.html')
							+unit_download('#','Презентация', '"Моделирование 3D"', 'files/teormat/model_3D.html')
						
							
					 

						



		include includes/scripts_in_footer
		script.
			$(document).ready(function () {
			$('#sb_ml-2').prop('checked',true);

			$("a#sub_menu_2-1").attr("href", "#");
			$("a#sub_menu_2-2").attr("href", "#");
			
			
			});


